    

* {
    
  
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    


    
    
  }

  .wrapper{
      background-color: #292e42; 
      border-radius: 20px;
      position: absolute;
     
  }




  
  #search input[type="text"] {
    background: url()  #444;
    border: 0 none ;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 360px;
    padding: 12px 19px 12px 70px;
    border-radius: 20px;
    
  
  
  }

#search input[type="text"] {
    width: 350px;
    height: 50px;
    
    }



  
  @media screen and (min-width: 600px ) {
    body {
      width: 60%;
    }
  }


  @media screen and (min-width: 768px ) {
    body {
      width: 70%;
    }
  }

  @media screen and (min-width: 992px ) {
    body {
      width: 100%;
    }
  }

  .column1{
    float: left;
    color: gray;
    font-weight: 100;
    padding: 120px;
    margin-top: 10x;
    
    
    
}





.column2{

  background-color: white;
    float: right;
    border-radius: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 50%;
    padding: 25px 50px 69px 100px; 
    color:gray;
   

    
    
    
}
  

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
  }



  .tombol{
 
      margin-top: 200px;
      margin-left: 470px;
      margin-bottom: -40px;
  }


  .add{
    outline: none;
      border: none;
      height: 60px;
      border-radius: 15px;
      width: 60px;
      background-color:#923bf5;
      color: white;
      cursor: pointer;
      transition: .5s;
      margin: 0.12rem;
  }
  

    
      
  
  .icon{
      margin-top: -40px;
      margin-left: 380px;
      margin-bottom: 20px;
  }

  #text1{
    background-color:#d2f7f4;
   
    border-radius: 20px;
    padding: 3px 16px 3px 16px;
    color: #36b389;
    font-weight: bolder;
    margin: 5rem;
   
    
  }
  #text2{
    background-color:#ffcfcf;
   
    border-radius: 20px;
    padding: 3px 16px 3px 16px;
    color:red;
    font-weight: bolder;
    margin: 1.8rem;
   
    
  }

  #text3{
    background-color:#dbceda;
   
    border-radius: 20px;
    padding: 3px 16px 3px 16px;
    color:purple;
    font-weight: bolder;
    margin: 2.5rem;
   
    
  }
  
  #text{
    background-color:#d2f7f4;
    margin: 3.5rem;
    border-radius: 20px;
    padding: 3px 16px 3px 16px;
    color: #36b389;
    font-weight: bolder;
    margin: 2.9rem;
   
    
  }
  
  #text0{
    background-color:white;
    border-radius: 20px;
    padding: 3px 16px 3px 16px;
    color:lightblue;
    font-weight: bolder;
    margin: 3.5rem;
   
    
  }


  .strip{
    height:35px ;
    width: 45px;
    margin-left: 400px;
    color: gray;
   
  }
  